
.pic {
  float: left;
  padding: 20px;

  }
  
  .aboutme {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  body {
    background-image: image(gravel.png);
  }
  .headerb {
    font-size: 9px;
    background: #4aaaa5;
    color: white;
    text-align: unset;
    line-height: 20px;
    padding: 40px;
    border-radius: 10px;
    width: 180px;
    height: 8px;

  }
  
  
  
  
  .header-right {
    float: right;
    
  }
  
  .header a {
    float: left;
    color: black;
    background: #ffffff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 12px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 960px;
    height: 700px;
    padding: 20px;
    text-align: center;
  }

  .content {
    width: 960px;
    height: 600px;
    border-radius: 6px;
    padding: 100px;
  }