<style>
{

.header a.active {
  background-color: rgb(151, 157, 163);
  color: rgb(160, 133, 133);
}
{
heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
{ 
img {
float: right;
}

* {box-sizing: border-box;}
</style>  